<%- include('header') -%>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>New loan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="text-align: left">
                    <form method="POST">
                        <div class="form-group">
                            <label for="loanName">Description of the loan</label>
                            <input type="text" class="form-control" id="loanName" name="loanName">
                        </div>
                        <div class="form-group">
                            <label for="loanCost">Loan value</label>
                            <input type="text" class="form-control" id="loanCost" name="loanCost">
                        </div>
                        <div class="form-group">
                            <label for="loanPerson">Who financed this loan</label>
                            <select class="form-control" id="loanPerson" name="loanPerson">
                            <% people.forEach( (person) => { %>
                                <option><%= person.name %></option>
                            <% }); %>
                            </select>
                        </div>
                        <button class="btn btn-primary" href="/event/view/<%= event._id %>">Create loan</button>
                        <a class="btn btn-link" href="/event/view/<%= event._id %>">Cancel</a>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include('footer') -%>
