<%- include('header') -%>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Rename person</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8" style="text-align: center">
                    <form method="POST">
                        <div class="form-group">
                            <label for="personName">New name for <%= person.name %></label>
                            <input type="text" class="form-control" id="personName" name="personName">
                        </div>
                        <button class="btn btn-primary" href="/people/profile/<%= person._id %>">Rename</button>
                        <a class="btn btn-link" href="/people/profile/<%= person._id %>">Cancel</a>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
<%- include('footer') -%>
